@tailwind base;
@tailwind components;
@tailwind utilities;

.animateDuration2100ms  {
  --animate-duration: 2.1s;
}

.animateDuration10s  {
  --animate-duration: 10s;
}

.animateShortenDelay {
  --animate-delay: 0.2s;
}

.sectionTitle {
  text-shadow: 3px 3px 0 #000;
}
