@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__shakeY  {
  --animate-duration: 10s;
}

.animate__animated.animate__fadeIn  {
  --animate-duration: 10s;
}

.sectionTitle {
  text-shadow: 3px 3px 0 #000;
}